<div class="row">

    <div class="col-sm-4">

      <div class="card">

        <div class="card-block">
          <h4 class="card-title">Regler</h4>
        </div>

        <ul class="list-group list-group-flush">
          <li *ngIf="!rules" class="list-group-item">Inga regler än</li>
          <li *ngFor="let rule of rules" (click)="onSelect(rule)" class="list-group-item list-group-item-action"> 
            {{ rule.title }} 
          </li>
        </ul>

        <div class="card-block">
          <button type="button" class="btn btn-outline-primary" (click)="onClear()">Skapa regel</button>
        </div>
      </div>

    </div>

    <div class="col-sm-8">
      <app-rules-detail [rule]='selectedRule' (newRule)='onNewRule($event)' (deleteRule)='onDeleteRule($event)' (editRule)='onEditRule()'></app-rules-detail>
    </div>

</div>