<div class="row">

    <div class="col-sm-4">

      <div class="card">

        <div class="card-block">
          <h4 class="card-title">Rollpersoner</h4>
        </div>

        <ul class="list-group list-group-flush">
          <li *ngIf="!sheets" class="list-group-item">Inga rollpersoner än</li>
          <li *ngFor="let sheet of sheets" (click)="onSelect(sheet)" class="list-group-item list-group-item-action"> 
            {{ sheet.name }}, <em>{{ sheet.archetype }}</em> 
          </li>
        </ul>

        <div class="card-block">
          <button type="button" class="btn btn-outline-primary" (click)="onClear()">Skapa rollperson</button>
        </div>
      </div>

    </div>

    <div class="col-sm-8">
      <app-sheets-detail [sheet]='selectedSheet' (newSheet)='onNewSheet($event)' (deleteSheet)='onDeleteSheet($event)'></app-sheets-detail>
    </div>

</div>