<md-card>
  <md-card-title>Om Arrow Games</md-card-title>
  <md-card-content>
    <p>Arrow Games är skapare av Arrow Game System.</p>
    
    <p>Arrow Game System är ett enkelt, fartfyllt och intuitivt regelsystem för alla typer av kampanjvärldar!<p>
    
    <p>Systemet passa spelgrupper som vill lägga fokus på action och berättande istället för att slå i tabeller och
    rulla ett oändligt antal tärningar.</p>

    <p>Hjärnorna bakom Arrow Game System är: Mikael <em>"Budbäraren"</em> och Jimmy <em>"Kolportören"</em> Pihl.
    Bröderna är erkända och uppskattade rollspelsprofiler i Stockholms Söderort.
    </p>
  </md-card-content>
</md-card>