<md-toolbar color="primary">

  <button md-button routerLink="/">
    <img src="assets/favicon-32x32.png" alt="Arrow Games Logo">
  </button>

  <span *ngIf="authService.loggedIn()">
    <button md-button routerLink="/rules">Regler</button>
    <button md-button routerLink="/sheets"> Rollformulär</button>
    <button md-button routerLink="/admin"> Administration</button>
  </span>

  <button md-button routerLink="/about">Om</button>

  <span class="spacer"></span>  

  <md-icon>account_circle</md-icon>

  <span *ngIf="authService.loggedIn()">
    &nbsp;{{ authService.loggedInUsername() }}
    <button md-button (click)="onLogOut()">Logga ut</button>
  </span>
  <span *ngIf="!authService.loggedIn()">
    <button md-button (click)="openDialog()">Logga in</button>
  </span>
  

</md-toolbar>

<router-outlet></router-outlet>
