<div class="row">
  <br><h1 class="text-xs-center"> Administration </h1><br>

    <div class="col-sm-4">

      <div class="card">

        <div class="card-block">
          <h4 class="card-title">Administration</h4>
        </div>

        <ul class="list-group list-group-flush">
          <li class="list-group-item list-group-item-action" routerLink="/admin/users">Användare</li>
          <li class="list-group-item list-group-item-action">Min profil</li>
        </ul>

      </div>

    </div>

    <div class="col-sm-8"><router-outlet></router-outlet></div>

</div>