<template ngbModalContainer></template>

<template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Radera {{ rule.title }}?</h4>
  </div>
  <div class="modal-body">
    <p>Vill du verkligen radera regeln {{ rule.title }}?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="c('Close click')">Radera</button>
  </div>
</template>

<div *ngIf="rule">
  <div class="card card-block">
    <h4 class="card-title">{{ rule.title }}</h4>
    <p class="card-text"><div [innerHTML]="rule.text"></div>
    <div class="card-block text-xs-right">
      <button type="button" class="btn btn-outline-success" (click)="edit()">Editera</button>
      <button type="button" class="btn btn-outline-danger" (click)="open(content)">Radera</button>
    </div>
  </div>
</div>

<div *ngIf="editing">
  <div class="card card-block">
    <h4 class="card-title">Editera regel</h4>
    <p class="card-text">
      <form (ngSubmit)="onSubmitEdit()" #ruleForm="ngForm">

        <div class="form-group">
          <label for="title">Titel</label>
          <input type="text" class="form-control" id="title" [(ngModel)]="rule.title" name="title" required>
        </div>
        <div class="form-group">
          <label for="text">Text</label>
          <app-tinymce [elementId]="'my-editor-id'" [content]="rule.text" (onEditorKeyup)="keyupEdit($event)"></app-tinymce>
        </div>

        <button type="submit" class="btn btn-outline-primary" [disabled]="!ruleForm.valid">Spara ändring</button>

     </form>

  </div>
</div>

<div *ngIf="!rule">
  <div class="card card-block">
    <h4 class="card-title">Skapa regel</h4>
    <p class="card-text">
      <form (ngSubmit)="onSubmitNew()" #ruleForm="ngForm">

        <div class="form-group">
          <label for="title">Titel</label>
          <input type="text" class="form-control" id="title" [(ngModel)]="editedRule.title" name="title" required>
        </div>
        <div class="form-group">
          <label for="text">Text</label>
          <app-tinymce [elementId]="'my-editor-id'" (onEditorKeyup)="keyupNew($event)"></app-tinymce>
        </div>

        <button type="submit" class="btn btn-outline-primary" [disabled]="!ruleForm.valid">Lägg till</button>

     </form>
  </div>
</div>